<p>
    <mat-toolbar color="primary">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>Restro</span>
         <a >
             <button mat-button (click)="openDialog()">Add Restaurant</button>
         </a>
         <a>
            <button mat-button>List Restaurant</button>
        </a>
        <a>
            <button mat-button>Update Restaurant</button>
        </a>
        
        <!-- <a>
            <button mat-button>Primary</button>
        </a>
        <a>
            <button mat-button>Primary</button>
        </a> -->
      <span class="example-spacer"></span>
      <a>
        <button mat-raised-button color="accent" (click)="onLogout()">Logout</button>
    </a>
    </mat-toolbar>
  </p>
  <!-- <router-outlet></router-outlet> -->