<nav>
  <div class="logo-name">
    <div class="logo-image">
      <img src="../../../../assets/images/logo.jpg" alt="restro-logo" />
    </div>
    <span class="logo_name"> Restro</span>
  </div>
  <div class="menu-items">
    <ul class="nav-links">
      <li>
        <a routerLink="dashboard">
          <i class="bi bi-house-fill"></i>
          <span class="link-name">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="add-restro">
          <i class="bi bi-plus-circle-fill"></i>
          <span class="link-name">Add Restro</span>
        </a>
      </li>
      <li>
        <a routerLink="list-restro">
          <i class="bi bi-list-task"></i>
          <span class="link-name">List Restro</span>
        </a>
      </li>
      <li>
        <a routerLink="update-restro">
          <i class="bi bi-pen-fill"></i>
          <span class="link-name">Update Restro</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
