<header>
  <p>
    <mat-toolbar color="primary">
      <span role="button" routerLink="">Restro</span>
      <a mat-button routerLink="add-restro"> Add Restaurant </a>
      <a mat-button routerLink="list-restro"> List Restaurant </a>
      <a mat-button routerLink="update-restro"> Update Restaurant </a>
      <span class="example-spacer"></span>
      <a>
        <button mat-raised-button color="accent" (click)="onLogout()">
          Logout
        </button>
      </a>
    </mat-toolbar>
  </p>
</header>
