<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <div class="d-flex">
      <div class="toggle-bar">
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <!-- Search field -->
      <div>
        <input
          type="text"
          class="search-box"
          placeholder="Search restro"
          (input)="search($event)"
          routerLink="list"
        />
      </div>
    </div>
    <!-- User Profile Btn -->
    <div class="profile-btn">
      <button
        class="image-button"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        #menuTrigger
      >
        <img src="../../../../assets/images/user.jpg" alt="user_image" />
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>perm_identity</mat-icon>Profile</button>
        <button mat-menu-item><mat-icon>favorite</mat-icon>Favorite</button>
        <button mat-menu-item (click)="openDialog()">
          <mat-icon>exit_to_app</mat-icon>Logout
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
